.black12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.black12 TD {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.black12 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.black12 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.black12 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 18px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.black14 {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.black14 TD {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.black14 A:link {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.black14 A:visited {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.black14 A:hover {
	FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.blue12 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0051a2; LINE-HEIGHT: 18px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue12 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0051a2; LINE-HEIGHT: 18px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue12 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0051a2; LINE-HEIGHT: 18px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue12 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0051a2; LINE-HEIGHT: 18px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue12 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 18px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.blue12b {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0051a2; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue12b TD {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0051a2; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue12b A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0051a2; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue12b A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0051a2; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue12b A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff6600; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.size14 {
	FONT-SIZE: 14px
}
.blue14 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue14 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue14 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue14 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue14 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.blue13 {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #0051a2; LINE-HEIGHT: 21px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue13 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #0051a2; LINE-HEIGHT: 21px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue13 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #0051a2; LINE-HEIGHT: 21px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue13 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #0051a2; LINE-HEIGHT: 21px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue13 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ff6600; LINE-HEIGHT: 21px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.grey14 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey14 B {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey14 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey14 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey14 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey14 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.grey1466 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey1466 B {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey1466 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey1466 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey1466 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey1466 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.grey12 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0051a2; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey12 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0051a2; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey12 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0051a2; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey12 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0051a2; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey12 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.indexbg {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(file:///C|/Documents%20and%20Settings/yang%20liu/Local%20Settings/Temporary%20Internet%20Files/Content.IE5/images/index-bg.gif); COLOR: #666666; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.white12 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.white12 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.white12 A:link {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.white12 A:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.white12 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.red12 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.red12 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.red12 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.red12 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.red12 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.dotline {
	BACKGROUND-POSITION: left top; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(file:///C|/Documents%20and%20Settings/yang%20liu/Local%20Settings/Temporary%20Internet%20Files/Content.IE5/images/company_17.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 7px
}
.menu12 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.menu12 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.menu12 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.menu12 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.menu12 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.title {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000099; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.title TD {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000099; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetitle15 {
	FONT-WEIGHT: bolder; FONT-SIZE: 18px; COLOR: #0051a2; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetitle15 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetitle15 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetitle15 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetitle15 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.time {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #999999; LINE-HEIGHT: 16px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue14b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue14b TD {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue14b A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue14b A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue14b A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.blue16b {
	FONT-SIZE: 18px; MARGIN: 0px 0px 0px 20px; COLOR: #0051a2; LINE-HEIGHT: 24px; FONT-FAMILY: "ºÚÌå","Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue16b TD {
	FONT-SIZE: 18px; MARGIN: 0px 0px 0px 20px; COLOR: #0051a2; LINE-HEIGHT: 24px; FONT-FAMILY: "ºÚÌå","Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blacktitle15 {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #000000; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.blacktitle15 TD {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #000000; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.blacktitle15 A:link {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.blacktitle15 A:visited {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.blacktitle15 A:hover {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #ff6600; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.whitetitle15 {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #ffffff; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitetitle15 TD {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #ffffff; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitetitle15 A:link {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #ffffff; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitetitle15 A:visited {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #ffffff; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitetitle15 A:hover {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #ccff00; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.grey141 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #454545; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey141 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #454545; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey141 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #454545; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey141 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #454545; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey141 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.blacktitle18 {
	FONT-WEIGHT: bolder; FONT-SIZE: 18px; COLOR: #000000; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.blue12 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0051a2; LINE-HEIGHT: 15px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
.blue11 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0051a2; LINE-HEIGHT: 15px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
.blue11 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0051a2; LINE-HEIGHT: 15px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
.blue11 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0051a2; LINE-HEIGHT: 15px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue11 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0051a2; LINE-HEIGHT: 15px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue11 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff6600; LINE-HEIGHT: 15px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.bluetitle20 {
	FONT-WEIGHT: bolder; FONT-SIZE: 20px; COLOR: #0051a2; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetitle20 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetitle20 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetitle20 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetitle20 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.grey142 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #454545; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey142 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #454545; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.grey142 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.grey142 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0051a2; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.grey142 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: 22px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.bluetitle13 {
	FONT-WEIGHT: normal; FONT-SIZE: 15px; COLOR: #0051a2; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetitle13 TD {
	FONT-WEIGHT: normal; FONT-SIZE: 15px; COLOR: #666666; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetitle13 A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 15px; COLOR: #666666; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetitle13 A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 15px; COLOR: #666666; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluetitle13 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 15px; COLOR: #666666; LINE-HEIGHT: 21px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
